.env
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/Project.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
*.xml
*.pyc
.idea/workspace.xml
*.pyc
backend/__pycache__/init.cpython-39.pyc
backend/routes/__pycache__/profile_routes.cpython-39.pyc
