.movie-row{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}
.information{
    margin-bottom: 5px;
}
.accordion{
    margin-top: 10px;
}
.trailerBtn{
    margin-top: 15px;
}

.image {
    height: 45vh
}