.movie-row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 50px;
}
.information{
    margin-bottom: 5px;
}
.accordion{
    margin-top: 10px;
}
.trailerBtn{
    margin-top: 15px;
}

.card {
    margin-bottom: 2vh;
}

.selectMovieTitles {
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 15px;
    font-family: 'Courier New', monospace;
    color:white;
    margin-left: auto;
    margin-right: auto;
    height:50px;
    width: 95%;
    background-color: #BA0C2F;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.image {
    height: 45vh
}
.cards{
    margin-left: 20px;
}