.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 65px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    
}

.search-bar {
    width: 250px;
    margin-right: 10px;
}

.the-row {
    display: flex;
    justify-content: center;
}

