#root {
  height: 100%;
  width: 100%;
  background-color: rgb(239, 241, 242);
  overflow-wrap: break-word;
}

.card-form-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-form {
  display: block;
  margin: auto;
  background: #fefefe;
  box-shadow: 0px 14px 80px rgb(34 35 58 / 20%);
  padding: 25px 30px;
  border-radius: 15px;
  transition: all 0.3s;
}

.expiry-and-cvc-container {
  display: flex;
}

.expiration-date-field {
  display: inline-block;
  flex: 1 1 auto;
}

.cvc-field {
    display: inline-block;
    margin-left: 10px;
    flex: 0 0 100px;
}

.cursor-pointer {
  cursor: pointer;
}