.carousel {
    width: 100vw;
}

.homepage {
    text-align: center;
}

.showtimes {
    gap: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.homepageTitles{
        border-radius: 5px;
        margin-bottom: 5px;
        margin-top: 15px;
        font-family: 'Courier New', monospace;
        color:white;
        margin-left: auto;
        margin-right: auto;
        height:50px;
        width: 95%;
        background-color: #BA0C2F;
        text-align: center;
        display: flex;
        justify-content: center;
        vertical-align: middle;
}

.movieImage {
    height: 40vh;
}

.show-all-button {
    font-family: 'Courier New', monospace;
    background-color: #9b9a9b;
    height: 5vh;
    color: white;
    border-radius: 10px;
}

.nav-link- {
    color: white;
    margin-top: 1.3vh;
}

.nav-link-:hover {
    text-decoration: underline
}